# Compiled Object files
*.slo
*.lo
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
.vscode
*.swp
tags

*.zip

*.gz


projects/iideaa/.idea/

projects/iideaa/cmake-build-debug/

*.code-workspace

projects/LeNet5/prova/

projects/LeNet5/clustered/code/.idea/

projects/Sobel/code/build-clang/

projects/Sobel/code/sobel_dse_result_2d_area.pdf

projects/Sobel/code/sobel_dse_result_2d_power.pdf

projects/Sobel/code/sobel_dse_result_3d.pdf
projects/Sobel/results/*.pdf
