# Compiled Object files
*.slo
*.lo
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
.vscode
*.swp
tags

*.zip

*.gz

projects/n2d2_cnn/float/HLS/

projects/n2d2_cnn/HLS/

projects/n2d2_cnn/int16/code/build-debug/

projects/n2d2_cnn/int8/code/build-debug/

projects/n2d2_cnn/int8/export_C_int8/

projects/n2d2_cnn/clustered/code/.idea/

projects/n2d2_cnn/clustered/code/cmake-build-debug/

projects/n2d2_cnn/int16/code/cmake-build-debug/

projects/n2d2_cnn/int16/code/.idea/

projects/n2d2_cnn/int8/code/.idea/

projects/iideaa/.idea/

projects/iideaa/cmake-build-debug/

iideaa/.idea/

iideaa/cmake-build-debug/

projects/n2d2_cnn/int8/code/cmake-build-debug/

projects/LeNet5/clustered/code/.idea/

projects/LeNet5/int8/clang-chimera/TRUNC/output/
